.nui{
    border: 2px solid #fff;
    padding: 25px;
    color: #fff;
    border: 2px solid red;
    width: 50vw;
    max-width: 800px;
    height: 70vh;
}

.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}